body {
	padding: 30px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

form {
	margin-bottom: 10px;
}

.form-input {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin-bottom: 8px;
	justify-content: center;
	align-items: center;
}

input[type="number"] {
	max-width: 70px;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button button {
	color: #271033;
	background-color: transparent;
	border-radius: 5px;
	border: 1px solid #271033;
}

.card-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, 200px);
	grid-auto-flow: row; 
	gap: 30px;
	width: 100%;
}

.card {
	color: #271033;
	background-color: #EBE2D8;
	/*width: 200px;*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card-info {
	padding: 0 15px;
	margin: 10px 0 0px;
}

.button-zone {
	display: flex;
}

.read {
	color: #3f292b;
	background-color: transparent;
	border-radius: 5px;
	width: 100px;
	border: 1px solid #a37b73;
}

.not-read {
	color: #d34f73;
	/*background-color: #FA8334;*/
	background-color: transparent;
	border-radius: 5px;
	box-sizing: border-box;
	width: 100px;
	border: 1px solid #a37b73;
}

.delete {
	color: #271033;
	background-color: #db7f67;
	border-radius: 5px;
	box-sizing: border-box;
	width: 100px;
	border: 1px solid #a37b73;
}